@model List<MyLogicApp_sample.Models.GorevViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <h2>Görevler</h2>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Görev Başlığı</th>
                        <th>Açıklama</th>
                        <th>Atanma Tarihi</th>
                        <th>Son Tarih</th>
                        <th>Adım</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Baslik</td>
                        <td>@item.Aciklama</td>
                        <td>@item.BaslangicTarihi.ToShortDateString()</td>
                        <td>@(item.SonTarih.HasValue ? item.SonTarih.Value.ToShortDateString() : "Yok")</td>
                        <td><a class="btn @(item.TamamlandiMi ? "btn-success" : "btn-danger") btn-block btn-sm btn-is-sureci" data-is-atama-id="@item.IsAtamaId" data-is-atama-baslik="@item.Baslik" data-yonlendirme-url="@item.YonlendirmeUrl" href="/IsSureci?isAtamaId=@item.IsAtamaId" target="_blank"><b>@item.AdimSirasi / @item.ToplamAdim</b></a></td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-right">Toplam @Model.Count Kayıt</td>
                    </tr>
                </tfoot>
            </table>
        }
        else
        {
            <h2>Görevleri görüntülemek için giriş yapın.</h2>
        }
    </div>
</div>

@section scripts{
    <script>
        $(".btn-is-sureci").on("click", function () {
            localStorage.setItem("gorev", JSON.stringify(
                {
                    id: $(this).data("is-atama-id"),
                    ad: $(this).data("is-atama-baslik"),
                    yonlendirmeUrl: $(this).data("yonlendirme-url")
                }
            ));
            aktifGoreviGetir();
        });
    </script>
}