@using MyLogicApp_sample.Controllers
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("İş Planı Oluştur", "Index", "IsPlani")</li>
                        <li>@Html.ActionLink("İş Atama Oluştur", "Index", "IsAtama")</li>
                    }
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Çıkış Yap", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Giriş Yap", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <button id="btn-notify" class="btn btn-danger btn-sm">
                    Atanan toplam iş sayısı: <span id="todo-count">
                        @(HomeController.GetTodoCount(HttpContext.Current.User.Identity.GetUserId()))
                    </span>
                </button>
            }
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/notifier.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
